.main-page-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  //height: 97vh;
  margin: auto;
}

.add-animal {
  border-radius: 50%;
  background: darkgray;
  .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: black;
    border: 2px solid black;
  }
}
.edit-animal {
  margin-left: 3vw;
  background: darkgray;
  border-radius: 50%;
  .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: black;
    border: 2px solid black;
  }
}

.next-animal {
  margin-left: -1px;
  background: darkgray;
  border-radius: 0;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: black;
    border-radius: 0;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border: 2px solid black;
  }
}

.previous-animal {
  margin-left: 30vw;
  background: darkgray;
  border-radius: 0;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: black;
    border-radius: 0;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border: 2px solid black;
  }
}

.loader {
  display: flex;
  height: 80vh;
}

.main-page {
  margin: auto;
  overflow: hidden;
  background: transparent;
}

.main-page[animate='1'] {
  animation-duration: 1s;
  animation-name: slideright;
}

.main-page[animate='2'] {
  animation-duration: 1s;
  animation-name: sliderleft;
}

@keyframes slideright {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes sliderleft {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
