//@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", monospace;
  background: #f32121;
  display: flex;
//respond(big-desktop-up) {}
//respond(desktop-up) {}
//respond(tablet-landscape-up) {}
//respond(tablet-portrait-up) {}
//respond(phone-only) {}
}